body{
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #6c7279;
    -webkit-font-smoothing:antialiased;

    background-color: white;
}

*,
*:after,
*:before{
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}

p{
    margin: 0 0 10px;
}


/* Container
================*/
.container{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

/* Header
================*/
.header{
    width: 100%;
    height: 100px;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header__inner{
    display:flex;
    justify-content: space-between;
    border-bottom: 1px solid #505369;
    padding: 35px 0;
    align-items: center;
}

/* Nav
================*/

.nav{
    display: flex;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;

}
.nav__link{
    margin-left: 50px;

    color: #fff;
    text-decoration: none;
    opacity: 0.75;

    transition: opacity 0.1s linear;
}
.nav__link:first-child{
    margin-left: 0;
}
.nav__link:hover{
    opacity: 1;
}

/* Intro
================*/
.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 750px;
    padding-top: 100px;

    background: url(../img/intro-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #2a2e48;
}

.intro__inner{
    width: 100%;
    max-width: 970px;
    margin: 0 auto;
    text-align: center;
}

.intro__title{
    font-family: 'Open Sans', sans-serif;
    font-size: 65px;
    line-height: 1.1;
    color: white;
    font-weight: 700;
    margin: 0 0 30px 0;
    text-transform: uppercase;
}

.intro__subtitle{
    margin-bottom: 60px;

    font-size: 22px;
    color: #fff;
    line-height: 1.5;
    font-weight: 400;
}

/* Button
================*/
.btn{
    display: inline-block;
    vertical-align: top;
    padding: 14px 40px;

    border-radius: 2px;
    border: 0;
    cursor: pointer;

    font-family: inherit;
    font-weight: 600;
    font-size: 13px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;

    transition: background 0.1s linear;
}



.btn--red{
    background-color: #e84545;
}

.btn--red:hover{
    background-color: #e23131;
}

/* Layer
================*/
.layer{
    display: flex;
    flex-wrap: wrap;
    margin: 100px 0;
}

.layer__items{
    width: 33.33333%;
    padding: 0 20px;
    margin: 25px 0;

    text-align: center;
}

.layer__icon{
    margin-bottom: 25px;
}

.layer__title{
    color: #2d3033;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.layer__text{
    font-size: 14px;
    line-height: 1.5;
    color: #6c7279;
}

/* Works
================*/
.works{
    display: flex;
    flex-wrap: wrap;
}
.works__item{
    width: 25%;
    height: 350px;
    position: relative;
    overflow: hidden;
}
.works__img{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;

    transform: translate3d(-50%,-50%,0);
}
.works__content{
    width: 100%;
    height: 100%;

    top: 0;
    left: 0;
    z-index: 2;
}